/* COLORS
PINK: #F8B0FF
PURPLE: #AC79E8
LIGHT PURPLE: #A9A8FF
BLUE: #3680E8
TEAL: #9BF0FF
*/

body {
    
    background-color: #fff;
}
#header {
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    position: relative;
    transform: translateY(50%);
}

.nav {
    text-align: center;
    position:relative;
}
.img {
    border-radius: 50%;
    max-width:200px;
}
.img {
    vertical-align: middle;
    box-sizing: border-box;
}