/* COLORS
PINK: #F8B0FF
PURPLE: #AC79E8
LIGHT PURPLE: #A9A8FF
BLUE: #3680E8
TEAL: #9BF0FF
*/

body {
    background-color: #fff;
}
p {
    color: black;
}

a {
    margin-left: 48%;
}
/*.button {
    color: #A9A8FF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/
.big-image {
    width: 84.3%;
    align-content: space-between;
    border-top: solid 4px black;
}
h1 {
    text-align: right;
    font-family: 'Source Code Pro', monospace;
}
h5 { 
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}
.modal-body {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}
p {
    text-align: left;
    margin-left: 40px;
    font-family: 'Source Code Pro', monospace;
    font-size: 23px
}